body{
    text-align: center;
}
table{
    font-size: 16px;
}

input{
    width: 200px;
    margin: auto;
    padding: 12px 10px 12px 10px;
}

input[type=checkbox] {
    width: 30px;
    margin: auto;
}

input[type=submit] {
    width: 100px;
    border-radius: 4px;

}